<div>
    <h1>
        Titulo de prueba de Ivan Leon
    </h1>
    <article>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In perferendis eligendi ducimus libero corrupti
            excepturi esse omnis quaerat delectus veritatis rerum, illo necessitatibus illum enim molestiae iusto.
            Fugiat, corrupti magni.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea architecto quam debitis deserunt, dignissimos
            harum est officiis eaque itaque fugit eius suscipit doloribus vero excepturi asperiores error illum. Ullam,
            exercitationem.
        </p>

    </article>
    @defer (on viewport) {
    <!-- Hace cargas diferidas de los commpomentes que hay -->
    <app-comments></app-comments>
    } @placeholder {
    <p>Futuros comentarios</p>
    } @loading (minimum 2s) {
    <p>Cargando comentarios...</p>

    }

</div>